body {
  font-family: verdana;
  margin: 0;
  background-color: #222222;
}

h1 {
  padding: 60px;
  color: #FFFFF8;
  text-align: center;
  font-size: 30px;
}

img {
  width: 200px;
  height: auto;
  position: relative;
  top: 20%;
  left: 30%;
  display: inline;
  
}

a:link{
  color: white;
}
a:visited {
  color: white;
}

#text1 {
  position: fixed;
  width:auto;
  height: auto;
  top:30%;
  right: 35%;
  display: inline;
  color: #A8A8A8;
  font-family: verdana;
  font-size: 16px;
}